<div id="title_bar"> 
  <h2 id="page_title">Confirmação segmento</h2> 
  <div class="action_items"></div> 
</div> 
<div class="with_sidebar" id="content"> 
  <div id="main_content_wrapper"> 
    <div id="main_content"> 
      <div class="panel dashboard_section"> 
        <h3>Confirme o segmento que você irá responder</h3> 
        <div class="panel_contents"> 
          <% form_tag "/identify" do  %>
            <p><h4>Você está preste a iniciar o processo de responder ao questionário do segmento <strong><%= @segment %></strong>
              <br>Esta informação está correta?</h4>
              <br>
              <%= hidden_field_tag :institution, @institution %>
              <%= hidden_field_tag :institution_type, @institution_type %>
              <%= hidden_field_tag :segment, @segment %>
              <%= submit_tag 'sim' %>&nbsp;
              <%= submit_tag 'não' %>
            </p>
          <% end %>
        </div> 
      </div> 
    </div> 
  </div> 
  <div id="sidebar">
    <%= render :partial => "steps", :locals => {:current_step => 1} %>
  </div>
</div> 
<div id="footer"> 
</div> 
