<div id="title_bar"> 
  <h2 id="page_title">Respostas para a dimensão <%= @dimension.to_i + 1 %></h2> <%=@dimensions[@dimension.to_i]%>
  <div class="action_items">
    <%= render '/shared/welcome_message'%>
  </div> 
</div> 
<div class="with_sidebar" id="content"> 
  <div id="main_content_wrapper"> 
    <div id="main_content"> 
      <div class="panel dashboard_section"> 
        <h3>Respostas salvas</h3>
        <div class="panel_contents"> 
          <% form_tag "/answerdimension" do  %>
          <p><h4>Respostas salvas referentes a instituição <strong><%= @institution %></strong>, dimensão <strong><%= @dimension.to_i + 1 %></strong> e segmento <strong><%= @segment %></strong></h4>
              <br>
              <%= hidden_field_tag :institution, @institution %>
              <%= hidden_field_tag :institution_type, @institution_type %>
              <%= hidden_field_tag :segment, @segment %>
              <%= hidden_field_tag :name, @name %>
              <%= hidden_field_tag :dimension, @dimension.to_i + 1 %>
              <%= submit_tag 'ir para próxima dimensão' %>
            </p>
          <% end %>
        </div> 
      </div> 
    </div> 
  </div> 
  <div id="sidebar">
    <%= render :partial => "steps", :locals => {:current_step => @dimension.to_i + 4} %>
  </div>
</div> 
<div id="footer"> 
</div> 
