<% form_tag revisar_path, :id => "answers", :multipart => true, :method => 'POST' do  %>
  <table>
    <% current_indicator = -1%>

    <%= hidden_field_tag "hdfGabarito" %>

    <% @questions.each do |question| %>
      <%- if question.question.indicator.number != current_indicator %>
        <%-current_indicator = question.question.indicator.number %>
        <tr>
          <%= "<td class='indicador' colspan='9'> <div class='indicador'>Indicador  #{@dimension.number}.#{question.question.indicator.number} - #{question.question.indicator.name} </div></td>".html_safe %>
        </tr>
      <%-end %>
      <table class="table_question" id="table_<%= "#{question.id}" %>">
        <td colspan="9"><%= "#{question.text}" %></td>
        
        <tr class="grades">
          <td> </td>
          <td> 0 </td>
          <td> 1 </td>
          <td> 2 </td>
          <td> 3 </td>
          <td> 4 </td>
          <td> 5 </td>
          <td> ø </td>
        </tr>
        <% 5.times do |i| %>
          <tr class="gabarito">
            <td class='gabarito_name'> <%= "Gabarito #{i+1}" %></td>
            <td class="do_not_know"> <%= text_field_tag "[#{question.id}]do_not_know_#{i}", nil, :class => "txtQuestao do_not_know_#{question.id}" %> </td>
            <td class="one"> <%= text_field_tag "one_#{i}", nil, :class => 'txtQuestao one' %> </td>
            <td class="two"> <%= text_field_tag "two_#{i}", nil, :class => 'txtQuestao two' %> </td>
            <td class="three"> <%= text_field_tag "three_#{i}", nil, :class => 'txtQuestao three' %> </td>
            <td class="four"> <%= text_field_tag "four_#{i}", nil, :class => 'txtQuestao four' %> </td>
            <td class="five"> <%= text_field_tag "five_#{i}", nil, :class => 'txtQuestao five' %> </td>
            <td class="do_not_answer"> <%= text_field_tag "do_not_answer_#{i}", nil, :class => 'txtQuestao do_not_answer' %> </td>
            <% if i == 4 %>
              <td>Quantidade de pessoas </td>
            <% else %>
              <td></td>
            <% end %>
            
          </tr>
        <% end %>

       <tr class="gabarito">
          <td>Total</td>
          <td><%= text_field_tag "do_not_know[#{question.id}]", !@answers[question.id].nil? ? @answers[question.id].do_not_know : "", :size => 2, :class => "total_do_not_know totalParcial" %></td>
          <td><%= text_field_tag "one[#{question.id}]", !@answers[question.id].nil? ? @answers[question.id].one : "", :size => 2, :class => "total_one totalParcial" %></td>
          <td><%= text_field_tag "two[#{question.id}]", !@answers[question.id].nil? ? @answers[question.id].two : "", :size => 2,  :class => "total_two totalParcial" %></td>
          <td><%= text_field_tag "three[#{question.id}]", !@answers[question.id].nil? ? @answers[question.id].three : "", :size => 2, :class => "total_three totalParcial" %></td>
          <td><%= text_field_tag "four[#{question.id}]", !@answers[question.id].nil? ? @answers[question.id].four : "", :size => 2, :class => "total_four totalParcial"  %></td>
          <td><%= text_field_tag "five[#{question.id}]", !@answers[question.id].nil? ? @answers[question.id].five : "", :size => 2, :class => "total_five totalParcial" %></td>
          <td><%= text_field_tag "do_not_answer[#{question.id}]", !@answers[question.id].nil? ? @answers[question.id].do_not_answer : "", :size => 2, :class => "total_do_not_answer totalParcial" %>
          </td>
          <td><%= text_field_tag "quantity_of_people[#{question.id}]", !@answers[question.id].nil? ? @answers[question.id].quantity_of_people : "", :size => 3, :onkeypress => "return false;", :class => "totalPessoas"  %></td>
        </tr>

        <script type="text/javascript" charset="utf-8"> 
          $(document).ready(function() {
            var quantity_of_people = new LiveValidation('<%="quantity_of_people_#{question.id}" %>', {validMessage: "", failureMessage: "Número insuficiente de pessoas", tooLowMessage: "Número insuficiente de pessoas", validMessage: "Ok", notANumberMessage: "Deve ser um número"});
            quantity_of_people.add( Validate.Numericality, { minimum: 1, tooLowMessage: "Número insuficiente de pessoas", validMessage: "", notANumberMessage: "Deve ser um número"});
            quantity_of_people.add( Validate.Presence, {failureMessage: "Número insuficiente de pessoas", validMessage: "Ok", notANumberMessage: "Deve ser um número"});

            if(!form_valifdator){
              form_valifdator = true;
              var automaticOnSubmit = quantity_of_people.form.onsubmit;
              quantity_of_people.form.onsubmit = function(){
                var valid = automaticOnSubmit();
                if(!valid){
                  $(function(message) {
                    jQuery.jGrowl("Existem erros no formulário, favor revisar o itens em vermelho", {easing: "linear", life: 8000, theme: "alert"});
                  });
                  return false;
                }
                return true;
              }
            }

            $(".do_not_know_<%=question.id%>").change(function() {
              var total = 0;
              $(".do_not_know_<%=question.id%>").map(function() {
                var value = $(this).val();
                if (value != ""){
                  total += parseInt(value);  
                }
              });
              $("#do_not_know_result_<%=question.id%>").val(total);
            });
          });
        </script> 
      </table>
    <% end %>

    <script type="text/javascript" charset="utf-8"> 
      $(document).ready(function() {
          $(".txtQuestao").change(function(){
            var classe = $(this).parent().attr("class");
            var $table = $(this).parents("table:first");
            var $itens = $table.find("td."+classe).find(".txtQuestao"); 
            var valor = 0;
            $itens.each(function(i){
              var valorAtual = Number($(this).val());
              if(isNaN(valorAtual)){ valorAtual = 0; }
              valor = valorAtual + valor; 
            });
            $table.find(".total_"+classe).val(valor);
            CalculaTotal($table);
          });

          $(".txtQuestao").keypress(soNumeros);
          
          $(".totalParcial, .totalPessoas").keypress(desabilitaDigitacao);

          desabilitaCampos(true);
      });

      function CalculaTotal(table){
        var $itens = table.find(".totalParcial");        
        var valorParcial = 0;
        $itens.each(function(i){
          valorParcial = Number($(this).val()) + valorParcial; 
        });        
        table.find(".totalPessoas").val(valorParcial);
      }

      // Permite somente digitar numeros inteiros
      function soNumeros(e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
          return false;
        }
      }

      function desabilitaDigitacao(){
        return false;
      }

      function desabilitaCampos(ativa){
        $(".totalParcial, .totalPessoas").attr("disabled", ativa);
      }

      function montaJSon(tables){
        var tabela = "";
        tables.each(function(tabela_id, i){
          var linha = "";
          $(this).find(".gabarito").each(function(linha_id, j){
            var coluna = "";
            $(this).find("input").each(function(coluna_id, k){
              coluna += '{ "colunas":"' + Number($(this).val()) + '"},';              
            })
            coluna = coluna.substr(0, coluna.length -1);
            linha += '{"linhas": [' + coluna + ']},';
          })
          linha = linha.substr(0, linha.length -1);
          tabela += '{"tabelas":['+ linha +']},';      
        });
        tabela = '{"json":[' + tabela.substr(0, tabela.length -1) + ']}';
        return tabela;
      }

      $("#answers").submit(function(){
        $("#hdfGabarito").val(montaJSon($('.table_question')));
        desabilitaCampos(false);
      });

    </script>

    <tr>
      <td colspan="10">
        Práticas consolidadas <%= text_area_tag :consolidated_practices, !@practices.nil? ? !@practices.consolidated.nil? ? @practices.consolidated : "" : "", :cols => 80, :rows => 5%>
      </td>
    </tr>
    <tr>
      <td colspan="10">
        Práticas que precisam avançar <%= text_area_tag :to_be_improved_practices, !@practices.nil? ? !@practices.to_be_improved.nil? ? @practices.to_be_improved : "" : "", :cols => 80, :rows => 5%>
      </td>
    </tr>
  </table>
      <%= hidden_field_tag :school, @school.id %>
      <%= hidden_field_tag :service_level, @service_level.id %>
      <%= hidden_field_tag :segment, @segment.id %>
      <%= hidden_field_tag :name, @name %>
      <%= hidden_field_tag :dimension, @dimension.number %>
      <%= submit_tag 'revisar' %>
  <% end %>