<script type="text/javascript" charset="utf-8"> 
  var form_valifdator = false;
</script>
<div id="title_bar"> 
  <h2 id="page_title">Respostas para a dimensão <%= @dimension.number %></h2><div id="subtitle"><%=@dimension.name%></div>
  <div class="action_items">
    <%= render :partial => "salutation" %>
  </div> 
</div> 
<div class="with_sidebar" id="content"> 
  <div id="main_content_wrapper"> 
    <div id="main_content"> 
      <div class="panel dashboard_section"> 
      <h3>Responda cada uma das questões abaixo</h3>
      <div class="panel_contents">
        <%= render 'questions_form' %>
      </div> 
    </div> 
  </div> 
  </div> 
  <div id="sidebar">
    <%= render :partial => "flow/steps", :locals => {:current_step => @dimension.number + 2} %>
  </div>
</div> 
<div id="footer"> 
</div> 