<div id="title_bar"> 
  <h2 id="page_title">Confirmação segmento</h2> 
  <div class="action_items"></div> 
</div> 
<div class="with_sidebar" id="content"> 
  <div id="main_content_wrapper"> 
    <div id="main_content"> 
      <div class="panel dashboard_section"> 
        <h3>Confirme o segmento que você irá responder</h3> 
        <div class="panel_contents"> 
          <% form_tag identificar_path do  %>
            <p><h4>Você está prestes a iniciar o processo de responder ao questionário do segmento 
              <strong>
                <%= @segment.name %>
                <% level = @school.name.split(" ").first %>    
                <% if level != @service_level.name %>
                  <%= "&nbsp;da #{@service_level.name}".html_safe %>
                <% end %>
              </strong> da instituição <strong><%= @school.name %></strong>
              <br>Essa informação está correta?</h4>
              <br>
              <%= hidden_field_tag :school, @school.id %>
              <%= hidden_field_tag :service_level, @service_level.id %>
              <%= hidden_field_tag :segment, @segment.id %>
              <%= submit_tag 'sim' %>&nbsp;
              <%= submit_tag 'não' %>
            </p>
          <% end %>
        </div> 
      </div> 
    </div> 
  </div> 
  <div id="sidebar">
    <%= render :partial => "flow/steps", :locals => {:current_step => 1} %>
  </div>
</div> 
<div id="footer"> 
</div> 
