<table id='evaluation_template'>
  <thead>
    <th>Dimens達o</th>
    <th>Quest達o</th>
    <th>N達o sabe</th>
    <th>N達o respondeu</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
  </thead>
  <tbody>
    <% @answers.each do |a| %>
      <tr>
        <td><%= a.dimension_number %></td>
        <td><%= a.question_number %></td>
        <td><%= a.do_not_know %></td>
        <td><%= a.do_not_answer %></td>
        <td><%= a.one %></td>
        <td><%= a.two %></td>
        <td><%= a.three %></td>
        <td><%= a.four %></td>
        <td><%= a.five %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  /*<![CDATA[*/
  jQuery(document).ready(function($)
  {
    $('#evaluation_template').tableScroll({height:400});

  });
  /*]]>*/
</script>