<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= wicked_pdf_stylesheet_link_tag "password_letter" %>
  <script>
    function number_pages() {
      var vars={};
      var x=document.location.search.substring(1).split('&');
      for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
      var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
      for(var i in x) {
        var y = document.getElementsByClassName(x[i]);
        for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
      }
    }
  </script>
</head>
<body onload="number_pages()">
<div id="container">
<% @passwords.each do |password| %>
<div id="line_items">
  <center><h4><%= password.school.name %></h4></center>

  <p>
    A avaliação educacional da rede municipal de Osasco conta com um <i>site</i> exclusivo, no qual, cada segmento deverá inserir separadamente os dados obtidos no processo de 2012. Recomendamos que, neste momento, a pessoa designada para a inserção já tenha os gabaritos do segmento preenchidos.
  </p>

  <p>
    Para que a inserção seja considerada completa, o sistema deverá receber as informações:
  </p>

  <ol>
    <li>Notas atribuídas pelos respondentes registradas nos gabaritos.
      <br>
      <br>
      <b>OBS.:</b> Este ano, não será necessário somar os resultados dos gabaritos parciais em um gabarito geral. O sistema aceitará a inclusão de dados de até cinco gabaritos por segmento e os cálculos sobre o total de respondentes serão feitos automaticamente.
      <br>
      <br>
    </li>
    <li>Respostas dissertativas registradas nos quadros de práticas consolidadas e não consolidadas de cada gabarito.
      <br>
      <br>
      <b>OBS.:</b> Ressaltamos que o registro qualificado destas respostas é imprescindível, pois são estas informações que permitem a análise contextualizada dos dados quantitativos gerados no relatório de resultados da Avaliação de cada unidade.
      <br>
    </li>
  </ol>
	<p>O acesso ao sistema se dará pelo <i>site</i>:</p>
  <p><center><div id="border_text"><a href="http://www.avaliaosasco.paulofreire.org">http://www.avaliaosasco.paulofreire.org</a></div></center></p>
	<p>
    Este <i>site</i> funcionará ininterruptamente do dia 29/10/2012 ao dia 14/11/2012 e poderá ser acessado a partir de qualquer computador conectado à internet.
  </p>
	<p>
    Após acessar o <i>site</i>, o responsável deverá selecionar o nome da Unidade Educacional, junto com o nível ou modalidade de ensino correspondente, e preencher o campo “senha”. Feito isso, o sistema abrirá uma tela confirmando o segmento cujos dados serão inseridos e na qual deverá ser preenchida a identificação (nome) do usuário.
  </p>
	<p>
    O preenchimento se dará sequencialmente por dimensão e a cada resposta ou dimensão completada, o usuário terá a chance de rever os dados preenchidos e editá-los em caso de erro. Uma vez que a dimensão tenha sido revisada, o usuário deverá salvar as informações e iniciar o preenchimento dos dados de uma nova dimensão.
  </p>
	<p>
    Em caso de dúvidas ou qualquer problema com o sistema, o usuário poderá consultar as Perguntas Frequentes no <i>site</i> da avaliação ou entrar em contato com a equipe do Suporte Técnico do Sistema de Avaliação, de segunda a sexta, das 9h às 18h, no telefone: <b> (11) 3024-3654 </b>.
  </p>

  <% if (Password.segment_has_more_than_one_service_level(password) || ['Educandos', 'Familiares'].include?(password.segment.name)) && (password.service_level.name != 'CRECHE CONVENIADA') %>
    <% 
      service_level_name = password.service_level.name
    %>
	  <p>A senha de acesso para o nível <strong><%= service_level_name %></strong>, segmento <strong><%= password.segment.name %></strong> da sua unidade é:</p>
  <% else %>
    <p>A senha de acesso para o segmento <strong><%= password.segment.name %></strong> da sua unidade é:</p>
  <% end %>

  <p><center><div id="border_text"><strong><%= password.password %></strong></div></center></p>
  <div style="text-align: right; width:100%;">
      <p>Atenciosamente,</p>
      <p>Equipe de Avaliação<br />Instituto Paulo Freire</p>
  </div>
  <div style="visibility:hidden;"><span class="page"></span><span class="topage"></span></div>
</div>
<% end %>
</div>
</body>
